.list-block{
    margin: 0;
}
.tabbar i.icon{
    font-size: 25px;
}
#tabhome .mainblock{
    background-color: rgba(255, 0, 0, 0.6);
    width: 100%;
    padding: 0.7em 0;
}

#tabhome .mainblock .small{
    color: white;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}
#tabhome .mainblock .big{
    color: white;
    width: 100%;
    font-size: 3em;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.profityuan{
    color: rgba(255, 0, 0, 0.6);
    font-size: 1.2em;
}
.profitname{
    color: rgba(5, 21, 255, 0.78);
    font-size: 0.8em;
}
[data-page=mydetail] .summary{
    padding: 0.4em;
}
[data-page=mydetail] .profit{
    color: rgba(255, 0, 0, 0.6);
    font-size: 1.2em;
}
[data-page=mydetail] .day{
    font-size: 0.8em;
}

.product-card-small .card-header{
    color: rgba(5, 21, 255, 0.78);
    font-size: 1.2em;
}
.product-card-small .card-content-inner{
    text-align: center;
}
.product-card-small .card-content-inner .line1{
    color: #ff4b00;
}
.product-card-small .card-content-inner .line2{
    color: rgba(255, 0, 0, 0.6);
    font-size: 3em;
    line-height: 1em;
    margin-top: 3px;
}
.product-card-small .card-content-inner .line3{

}
.product-card-small .card-content-inner .line4{
    line-height: 3em;
    margin-top: 3px;
}

#tabcommunity .newslist .item-inner .title>div:first-child{
    font-size: 1.3em;
}