* {
    margin: 0;
    padding: 0;
    font-family: "黑体";
}
body {
    background: #0DD1AB;
}
h2{
    text-align: center;
    margin-top: 10%;
    color: #fff;
}
h3{
    text-align: center;
    color: #fff;
    margin-top: 1em;
}

p{
    text-align: center;
    color: #fff;
    margin: -15% 2em;
}
img {
    width: 200px;
    height: 200px;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
button {
    margin-top: 20%;
    margin-left: 45%;
    padding: .5em 1em;
    border: none;
    color: #fff;
    background: #f76363;
    border-radius: 5px;
    font-weight: bold;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
