* {
    margin: 0;
    padding: 0;
    font-family: "黑体";
}
body {
    background: #0DD1AB;
}
img {
    width: 200px;
    height: 200px;
    margin-top: 10%;
    margin-left: 50%;
    transform: translateX(-50%);
}
h3 {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 900;
    text-align: center;
}
a,button,input {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
form {
    position: relative;
    width: 80%;
    margin-left: 15%;
}
input {
    width: 150px;
    height: 20px;
    margin-left: 10px;
    background: #0DD1AB;
    padding: 5px;
    border: 1px solid #79B354;
    border-radius: 8px;
}
#list {
    position: absolute;
    top: 33px;
    left: 75px;
    display: none;
    width: 160px;
    height: 100px;
    background: #fff;
}
li {
    list-style: none;
}
button {
    border: none;
    background-color: #0078fa;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
}
.continue {
    margin-left: 30%;
}
p {
    margin: 10px;
    text-align: justify;
}