<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>钱搁哪后台</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/background/newseditor.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">钱搁哪后台</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/background/news">新闻</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h2>选择一个文章修改或者点击下面按钮新建文章</h2>
        <p>
            <a class="btn btn-primary btn-lg" role="button" href="newseditor">新建文章 »</a>
        </p>
    </div>
</div>
<div class="container">
    {% for row in articals|batch(2) %}
    <div class="row">
        {% for art in row %}
        <div class="col-md-6">
            <h2>{{ art.title }}</h2>
            <p>{{ art.brief }}</p>
            <p>
                <a class="btn btn-default" role="button" href="newseditor?id={{ art._id|string }}">修改 »</a>
                <a class="btn btn-danger" role="button" href="?delete={{ art._id|string }}">删除</a>
            </p>
        </div>
            {% endfor %}
    </div>
    {% endfor %}
</div>

<script src="http://cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>