<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>钱搁哪后台</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/background/newseditorpage.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">钱搁哪后台</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">新闻</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <input type="hidden" id="id" value="{{ art._id|string }}">
    <div class="input-group input-group-lg">
      <span class="input-group-addon">标题</span>
      <input type="text" class="form-control" id="title" value="{{ art.title }}">
    </div>
    <div class="blank-space"></div>
    <div class="input-group">
      <span class="input-group-addon">简介</span>
      <input type="text" class="form-control" id="brief" value="{{ art.brief }}">
    </div>
    <div class="blank-space"></div>
    <div class="input-group">
      <span class="input-group-addon">作者</span>
      <input type="text" class="form-control" id="author" value="{{ art.author }}">
    </div>
    <div class="blank-space"></div>
     <div class="form-group">
        <label for="comment">内容</label>
        <textarea class="form-control" rows="20" id="content">{{ art.content }}</textarea>
    </div>
    <p>
        <a class="btn btn-primary btn-lg" role="button" href="#" id="save">保存</a>
        <!--a class="btn btn-danger btn-lg" role="button" href="#" id="delete">删除</a-->
    </p>
</div>

<script src="http://cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
$("#save").on("click",function () {
    var id=$("#id").val()
    var title=$("#title").val()
    var brief=$("#brief").val()
    var author=$("#author").val()
    var content=$("#content").val()

    $.post("newseditor",{
        id:id,
        title:title,
        brief:brief,
        author:author,
        content:content,
    },function (data) {
        if(data.res==0){
            $("#id").val(data.id)
        }
    },"json")
})
</script>
</body>
</html>