<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    minimum-scale=1, maximum-scale=1,user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="css/welcome2.css">
    <script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="js/welcome2.js"></script>
</head>
<body>
    <img src="img/qian.png" alt="">
    <h3>请录入您购买的产品信息：</h3>
    <form action="">
        <label><span>登记编码</span><input id="code" type="text"></label><br>
        <div id="list">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div>
        <label><span>购买金额</span><input type="text" id="value"></label>
    </form>

    <a id="addone" href="#"><button class="continue">录入</button></a>
    <a href="javascript:history.back()"><button>返回上一页</button></a>
    <h3>说明</h3>
    <p>
        亲爱的用户：首次登录钱搁哪，请在上面长方框内先录入你以前购买但现在还没到期的产品信息， 为你以后随时在此读取产品收益和提醒产品到期提供方便，你只需录入产品说明书中的理财登记编码（C开头，后面跟十三位数字）及购买金额即可，不需要提供与你本人有关的任何其它隐私信息，如身份证，住址，通讯方式等，请放心录入和使用。
        <br />以后在你预约购买新产品后忘记登入的情况下，也可在此补登。
    </p>
</body>
</html>