<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>使用说明</title>
    <link href="http://cdn.bootcss.com/framework7/1.4.2/css/framework7.ios.colors.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/framework7/1.4.2/css/framework7.ios.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="panel panel-left panel-reveal">
    <div class="content-block">
    </div>
</div>
<div class="views">
    <div class="view view-main">
        <div class="navbar">
            <div class="navbar-inner" data-page="page_main">
                <div class="left"></div>
                <div class="center sliding">使用说明</div>
                <div class="right"></div>
            </div>
        </div>
        <div class="pages navbar-through">
            <div class="page toolbar-fixed" data-page="page_main">
                <div class="page-content">
                    <h1>第一步</h1>
                    <h2>选择银行</h2>
                    <p>请在“我的银行”选择您关注的银行</p>

                    <h1>第二步</h1>
                    <h2>添加产品到预约</h2>
                    <p>在"我的选择"中，选择看好的产品到“我的预约”</p>

                    <h1>第三步</h1>
                    <h2>添加到“我的产品”</h2>
                    <p>实际购买产品后，在“我的预约”中，添加到“我的产品”，可以查看实时收益</p>

                    <h1>第四步</h1>
                    <h2>查看收益</h2>
                    <p>“我的收益”可查看我所持有的产品以及收益，并提醒即将到期产品</p>
                    </div>
            </div>
        </div>
    </div>
</div>
<script src="http://cdn.bootcss.com/framework7/1.4.2/js/framework7.min.js"></script>
</body>
</html>