<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>钱搁哪</title>
    <link href="http://cdn.bootcss.com/framework7/1.4.2/css/framework7.ios.colors.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/framework7/1.4.2/css/framework7.ios.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
    <link href="css/indexpage.css" rel="stylesheet">

</head>
<body>
<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="panel panel-left panel-reveal">
    <div class="content-block">
    </div>
</div>
<div class="views">
    <div class="view view-main">
        <div class="navbar">
            <div class="navbar-inner" data-page="page_main">
                <div class="left">
                    <a href="#select_bank" class="link">我的银行</a>
                </div>
                <div class="center sliding">我的收益</div>
                <div class="right">
                    <!--a href="#watchproduct" class="link">我的关注</a-->
                </div>
            </div>
            <div class="navbar-inner cached" data-page="mydetail">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span>返回</span>
                    </a>
                </div>
                <div class="center"></div>
            </div>
            <div class="navbar-inner cached" data-page="productdetail">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span>返回</span>
                    </a>
                </div>
                <div class="center">产品详情</div>
                <div class="right">
                    <a href="#" class="link open-popup" data-popup="#addtomyproduct">我已买</a>
                </div>
            </div>
            <div class="navbar-inner cached" data-page="select_bank">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span>返回</span>
                    </a>
                </div>
                <div class="center">关注的银行</div>
                <div class="right">
                    <a href="#" class="button save_button">保存</a>
                </div>
            </div>
            <div class="navbar-inner cached" data-page="watchproduct">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span>返回</span>
                    </a>
                </div>
                <div class="center">关注的产品</div>
            </div>
            <div class="navbar-inner cached" data-page="news">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span>返回</span>
                    </a>
                </div>
                <div class="center">新闻</div>
            </div>
        </div>
        <div class="pages navbar-through">
            <div class="page toolbar-fixed" data-page="page_main">
                <div class="toolbar tabbar tabbar-labels">
                    <div class="toolbar-inner">
                        <a href="#tabhome" class="tab-link active">
                            <i class="icon fa fa-bookmark"></i>
                            <span class="tabbar-label">已购产品</span>
                        </a>
                        <a href="#tablist" class="tab-link">
                            <i class="icon fa fa-binoculars"></i>
                            <span class="tabbar-label">产品选择</span>
                        </a>
                        <a href="#tabcommunity" class="tab-link">
                            <i class="icon fa fa-cloud"></i>
                            <span class="tabbar-label">理财社区</span>
                        </a>
                    </div>
                </div>
                <div class="page-content">
                    <div class="tabs">
                        <div class="tab active" id="tabhome">
                            <div class="mainblock">
                                <div class="small">
                                    截止昨日总收益（元）
                                </div>
                                <div class="big" data="allprofit">
                                    0
                                </div>
                                <div class="small">
                                    我的理财产品数：<span data="productcount">0</span>
                                </div>
                            </div>
                            <div class="list-block">
                                <ul id="mainpagelist">
                                </ul>
                            </div>
                        </div>
                        <div class="tab" id="tablist">
                            <form class="searchbar">
                                <div class="searchbar-input">
                                    <input type="search" placeholder="搜索">
                                    <a href="#" class="searchbar-clear"></a>
                                </div>
                                <a href="#" class="searchbar-cancel">取消</a>
                            </form>
                            <div class="buttons-row" id="ordertype">
                                <a class="button" href="#" order="cpqx">按时长</a>
                                <a class="button" href="#" order="-yjkhzgnsyl">按收益</a>
                                <a class="button" href="#" order="cpyjzzrq">按时间</a>
                            </div>
                            <div class="resultlist">

                            </div>
                        </div>
                        <div class="tab" id="tabcommunity">
                            <div class="list-block">
                                <ul class="newslist">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page cached" data-page="productdetail">
                <div class="page-content">
                    <div class="list-block" style="margin: 0">
                        <ul class="infodata">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="page cached" data-page="mydetail">
                <div class="page-content">
                    <div class="list-block">
                        <div class="list-group">
                            <ul>
                                <li class="item-divider" data="name"></li>
                                <li class="summary">
                                    <div class="profit">已收益：<span data="profit"></span>元</div>
                                    <div class="day">购买天数：<span data="day"></span>天</div>
                                </li>
                            </ul>
                        </div>
                        <div class="list-group">
                            <ul data="detail">
                                <li class="item-divider">产品明细</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page cached" data-page="select_bank">
                <div class="page-content">
                    <div class="list-block">
                        <ul id="bankselectlist">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="page cached" data-page="watchproduct">
                <div class="page-content">
                    <div class="resultlist">

                    </div>
                </div>
            </div>
            <div class="page cached" data-page="news">
                <div class="page-content">
                    <h2 class="title"></h2>
                    <p><span class="author"></span> <span class="time"></span></p>
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup" id="addtomyproduct">
    <input type="hidden" datatype="cpdjbm">
    <div class="content-block">
        <p style="font-size: 1.5em" datatype="cpms"></p>
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">已购买(元)</div>
                            <div class="item-input">
                                <input type="text" data-value placeholder="已购买(元)">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">购买日期</div>
                            <div class="item-input">
                                <input type="text" placeholder="购买日期" readonly data-day>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner buttons-row">
                            <a href="#" class="button button-fill color-green" data-ok>确定</a>
                            <a href="#" class="close-popup button">取消</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/html" id="banklistcell">
    <li>
        <label class="label-checkbox item-content">
            <input type="checkbox" name="bankselect" value="{bankname}" {checked}>
            <div class="item-media">
                <i class="icon icon-form-checkbox"></i>
            </div>
            <div class="item-inner">
                <div class="item-title">{bankname}</div>
            </div>
        </label>
    </li>
</script>
<script type="text/html" id="prodinfocard">
    <div class="card product-card-small">
        <div class="card-header">{cpms}</div>
        <div class="card-content">
            <div class="card-content-inner">
                <div class="row">
                    <div class="col-50">
                        <div class="line1">起售金额：{qdxsje}元</div>
                        <div class="line2">{yjkhzgnsyl}%</div>
                    </div>
                    <div class="col-50">
                        <div class="line3">实际天数：{cpqx}天</div>
                        <div class="line4">{mjjsrq}起售</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="#productdetail?info={linkinfo}" class="button">详细</a>
            <a href="#" class="button" act="dowatch" data="{cpdjbm}">关注</a>
        </div>
    </div>
</script>
<script type="text/html" id="productwatchcell">
    <div class="card product-card-small">
        <div class="card-header"><a href="#productdetail?info={linkinfo}">{cpms}</a></div>
        <div class="card-content">
            <div class="card-content-inner">
                <div class="row">
                    <div class="col-50">
                        <div class="line1">起售金额：{qdxsje}元</div>
                        <div class="line2">{yjkhzgnsyl}%</div>
                    </div>
                    <div class="col-50">
                        <div class="line3">实际天数：{cpqx}天</div>
                        <div class="line4">{mjjsrq}起售</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="#" class="button" act="dounwatch" data="{cpdjbm}">取消关注</a>
        </div>
    </div>
</script>
<script type="text/html" id="productinfoline">
    <li>
        <div class="item-content">
            <div class="item-inner">
                <div class="item-title">
                    {0}:
                </div>
                <div class="item-after">
                    {1}
                </div>
            </div>
        </div>
    </li>
</script>
<script type="text/html" id="profitinfoline">
<li>
    <a href="#mydetail?info={0}" class="item-link item-content">
        <div class="item-inner">
            <div >
                <div class="profityuan">{2}元</div>
                <div class="profitname">{1}</div>
            </div>
        </div>
    </a>
</li>
</script>
<script type="text/html" id="watchinfoline">
<li>
    <a href="#productdetail?info={0}" class="item-link item-content">
        <div class="item-inner">
            <div>
                    <div class="productname">{1}</div>
                    <div class="productbank">{2}</div>
            </div>
        </div>
    </a>
</li>
</script>
<script type="text/html" id="newsline">
<li>
  <a href="#news?id={_id}" class="item-link item-content">
    <div class="item-inner">
      <div class="title"><div>{title}</div><div>{brief}</div></div>
    </div>
  </a>
</li>
</script>
<script src="js/tools.js"></script>
<script src="http://cdn.bootcss.com/framework7/1.4.2/js/framework7.min.js"></script>
<script src="http://cdn.bootcss.com/Base64/0.3.0/base64.min.js"></script>
<script src="http://cdn.bootcss.com/moment.js/2.11.2/moment.min.js"></script>
<script src="js/indexpage.js"></script>
</body>
</html>