<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1,
    minimum-scale=1, maximum-scale=1,user-scalable=no">
    <title>钱搁哪</title>
    <script src="js/commom.js"></script>
    <link href="http://cdn.bootcss.com/meyer-reset/2.0/reset.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/round-bank.css">
</head>
<body>
<div class="return">
    <a href="javascript:history.back()">&lt;返回</a>
    <span>附近网点</span>
</div>
<h4>中国民生银行</h4>
<ul>
    <li>地址 <span>青羊区一环路西一段166号附1-4号</span></li>
    <li>理财经理 <span>王经理</span></li>
    <li>电话 <span>2887735815</span></li>
</ul>
</body>
</html>